body{
 background-color:grey;
 text-align: center;
}

h1{
	background-color: white;font: bold 40px Chalkduster, serif
}

h2{
	background-color: white;font: italic bold 30px Bradley Hand, serif
}

li{
 list-style:none;
 font-size: 20px;
}

img {
 float: middle;
 margin: 20px 20px 20px 20px;
}

#main {
 background-color:lightblue;
 margin-left:100px;
 margin-right: 100px;
 margin-top: 50px;
 padding-bottom: 50px;
 padding-top: 20px;
 border-radius: 20px;
}

.wrap {
    width: 1060px;
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}
.text_over_image {
    position: absolute;
 	margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
   	height:100px;
   	font:bold 50px Bradley Hand;
}

